
h1{
  font-size: 2em;
  color: #800000;
  font-family: "Book Antiqua",Palatino, serif;
  text-align: center;
  border-bottom: 3px #800000 solid;
  width: 55%;
  margin-left: auto;
  margin-right: auto;

}

a{
  margin:3.5%;
}

textarea{
  width: 49%;
  height: 3em;
  resize: none;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 10px;
  text-align: center;
  background-color: hsla(0,100%,25%,90%);
  border:2px #800000 solid;
  color: white;
  outline:none;
}

body{
  background-color: #800000;
}

input[type=text],input[type=email]{
	margin: 10px 10px;
    text-align:center;
    border:2px #800000 solid;
    border-radius:20px;
    padding:10px;
    background-color: hsla(0,100%,25%,90%);
	width: 50%;
    color: white;
    outline:none;
}


input[type=submit]{
	outline:none;
    color: white;
    background-color: hsla(0,100%,25%,90%);
    border-radius:20px;
    padding: 3% 10%;
}


.gridContainer{
  display: grid;
  grid-template-rows: 10% 20% 70%;
}

#links{
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
  width: 100%;
  font-size: 80%;
  text-align: center;
  font-family: "Book Antiqua",Palatino, serif;
  border-top: 0.2em black solid;
  border-bottom: 0.2em black solid;
  background-color: rgb(204, 204, 204);
  position: fixed;
  grid-column-start: 1;
  grid-column-end: 2;
}

#content{
  margin-top: 1em;
  grid-row-start:3;
  border-radius: 1.5em;
  border: .2em black solid;
  background-color: white;
  width:60%;
  float:center;
  padding-bottom:10%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  height:100%;
}
