.gridContainer{
  display: grid;
  grid-template-rows: 10% 90%;
}

#links{
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0;
  width: 100%;
  font-size: 80%;
  text-align: center;
  font-family: "Book Antiqua",Palatino, serif;
  border-top: 0.2em black solid;
  border-bottom: 0.2em black solid;
  background-color: rgb(204, 204, 204);
  position: fixed;
  grid-column-start: 1;
  grid-column-end: 2;
}
